doctype html
html(lang='de')
    head
        include partials/_head
    body
        include partials/_nav
        
        .container
            p 
            strong 
                big Impressum 
            p
                | Erika Keller
            p 
                | Welsestraße 61
            p 
                | 13057 Berlin
            br
            p 
            strong 
                | Kontakt 
            p 
                | Email: erika0keller@gmail.com
            p 
                | Telefon: +49 176 70938234
            br
            p
            strong 
                | Identifikationsnummern und Register
            p
                | Register 
            p 
                | Steuer ID 
            p
                | behördliche Zulassung 
            p 
                | Rechtsform