doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Erikas Page
    link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC' crossorigin='anonymous')
    //
      Bootstrap
      <link rel="stylesheet" type="text/css" href="./css/bootstrap.min.css" />
    link(href='./css/style.css' type='text/css' rel='stylesheet')
  body
    // Main Menu Navbar & Contacts Bar
    include partials/_nav

    // Note: img in css ::before
    #index-content.container-fluid
      p
        | Das ist Erikas Website und ich bin filler text bis die Ablösung kommt.
      br
      p
        | Lululu ich mag Äpfel mehr als du
    // Bootstrap
    script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js' integrity='sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM' crossorigin='anonymous')
