doctype html
html
    head
        include partials/_head
        link(rel='stylesheet' href='../css/table.css' type='text/css')
    body
        // Main Menu Navbar & Contacts Bar
        include partials/_nav

        // table
        button(onclick='#') Click me
        .table-responsive
            table.table
                thead
                    tr
                        th
                        th(scope='col') #
                        th(scope='col') Übung
                        th(scope='col') Wiederholungen
                        th(scope='col') Sätze
                        th(scope='col') Anmerkung
                tbody#exercises_table
                    tr#accordion1.accordion-toggle.collapsed(data-bs-toggle='collapse' data-bs-parent='#accordion1' href='#collapseOne')
                        td.expand-button
                        th(scope='row') 1
                        td Push Up
                        td 15
                        td 4
                        td Auf Ellenbogen achten
                    tr.hide-table-padding
                        td
                        td(colspan='3')
                            #collapseOne.collapse.in.p-3
                                p Push yourself up and then go down
                    tr#accordion2.accordion-toggle.collapsed(data-bs-toggle='collapse' data-bs-parent='#accordion2' href='#collapseTwo')
                        td.expand-button
                        th(scope='row') 2
                        td Sit Up
                        td 12
                        td 3
                        td Nicht absetzen
                    tr.hide-table-padding
                        td
                        td(colspan='3')
                            #collapseTwo.collapse.in.p-3
                                p Sit up and lie down
        // Bootstrap
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js' integrity='sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM' crossorigin='anonymous')
        // JQuery
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js')
